USE [KUMSALKOZMETIK]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[MU_ID] [int] IDENTITY(1,1) NOT NULL,
	[MU_AD_SOYAD] [nvarchar](100) NULL,
	[MU_SIRKET] [varchar](100) NULL,
	[MU_KULLANICI_ADI] [varchar](100) NULL,
	[MU_TELEFON] [varchar](100) NULL,
	[MU_ADRES] [varchar](100) NULL,
	[MU_EMAIL] [varchar](100) NULL,
	[MU_SIFRE] [varchar](100) NULL,
 CONSTRAINT [PK_MUSTERI] PRIMARY KEY CLUSTERED 
(
	[MU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIPARIS]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS](
	[SP_ID] [int] IDENTITY(1,1) NOT NULL,
	[SP_MUSTERI] [int] NULL,
	[SP_TOPLAM_URUN] [int] NULL,
	[SP_TOPLAM_TUTAR] [numeric](18, 6) NULL,
	[SP_CREATED] [datetime] NULL,
	[SP_DURUM] [nvarchar](100) NULL,
 CONSTRAINT [PK_SIPARIS] PRIMARY KEY CLUSTERED 
(
	[SP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_SIPARIS]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_SIPARIS]
as
SELECT s.SP_ID,m.MU_AD_SOYAD,m.MU_SIRKET,s.SP_TOPLAM_URUN,s.SP_TOPLAM_TUTAR,s.SP_CREATED,s.SP_DURUM
  FROM SIPARIS s
  LEFT JOIN MUSTERI m on m.MU_ID = s.SP_MUSTERI
GO
/****** Object:  Table [dbo].[SIPARIS_DETAY]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIPARIS_DETAY](
	[SPD_ID] [int] IDENTITY(1,1) NOT NULL,
	[SPD_SP_ID] [int] NULL,
	[SPD_URUN_ID] [int] NULL,
	[SPD_URUN_ADET] [int] NULL,
	[SPD_URUN_FIYAT] [decimal](18, 6) NULL,
	[SPD_URUN_TOPLAM] [decimal](18, 6) NULL,
	[SPD_URUN_NOT] [nvarchar](2000) NULL,
 CONSTRAINT [PK_SIPARIS_DETAY] PRIMARY KEY CLUSTERED 
(
	[SPD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN](
	[UR_ID] [int] IDENTITY(1,1) NOT NULL,
	[UR_AD] [varchar](200) NULL,
	[UR_URUN_DETAY] [varchar](2000) NULL,
	[UR_MARKA] [varchar](100) NULL,
	[UR_KATEGORI] [varchar](100) NULL,
	[UR_GRAMAJ] [varchar](100) NULL,
	[UR_FIYAT] [numeric](18, 2) NULL,
	[UR_INDIRIM] [numeric](18, 2) NULL,
	[UR_YENI] [varchar](5) NULL,
	[UR_STOK] [int] NULL,
	[UR_RESIM_URL] [nvarchar](max) NULL,
	[UR_INDIRIM_YUZDE] [int] NULL,
	[UR_FIYAT_INDIRIMLI] [numeric](18, 2) NULL,
 CONSTRAINT [PK_URUN] PRIMARY KEY CLUSTERED 
(
	[UR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_SIPARIS_DETAY]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_SIPARIS_DETAY]
  as
SELECT sd.SPD_ID,
       sd.SPD_SP_ID,
	   u.UR_AD,
	   sd.SPD_URUN_ADET,
	   sd.SPD_URUN_FIYAT,
	   sd.SPD_URUN_TOPLAM,
	   sd.SPD_URUN_NOT 
  FROM SIPARIS_DETAY sd
  LEFT JOIN URUN u on u.UR_ID = sd.SPD_URUN_ID
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[KA_ID] [int] IDENTITY(1,1) NOT NULL,
	[UK_ID] [int] NOT NULL,
	[KA_CODE] [nvarchar](100) NULL,
 CONSTRAINT [PK_KATEGORI] PRIMARY KEY CLUSTERED 
(
	[KA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORI_ALT]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI_ALT](
	[AK_ID] [int] IDENTITY(1,1) NOT NULL,
	[KA_ID] [int] NULL,
	[AK_CODE] [nvarchar](150) NULL,
 CONSTRAINT [PK_KATEGORI_ALT] PRIMARY KEY CLUSTERED 
(
	[AK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORI_UST]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI_UST](
	[UK_ID] [int] IDENTITY(1,1) NOT NULL,
	[UK_CODE] [nvarchar](100) NULL,
 CONSTRAINT [PK_KATEGORI_UST] PRIMARY KEY CLUSTERED 
(
	[UK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARKA]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARKA](
	[MA_ID] [int] IDENTITY(1,1) NOT NULL,
	[MA_CODE] [varchar](100) NULL,
 CONSTRAINT [PK_MARKA] PRIMARY KEY CLUSTERED 
(
	[MA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_URUN]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIEW_URUN]
as 
select U.UR_ID,
       U.UR_AD,
	   U.UR_URUN_DETAY,
	   U.UR_MARKA,
	   M.MA_CODE,
	   KU.UK_ID,
	   U.UR_KATEGORI,
	   K.KA_ID,
	   KA.AK_CODE,
	   U.UR_GRAMAJ,
	   U.UR_FIYAT,
	   U.UR_INDIRIM,
	   U.UR_YENI,
	   U.UR_STOK,
	   U.UR_RESIM_URL,
	   U.UR_INDIRIM_YUZDE,
	   U.UR_FIYAT_INDIRIMLI,
	   (SELECT SUM(SPD_URUN_ADET) FROM SIPARIS_DETAY WHERE SPD_URUN_ID = U.UR_ID) AS UR_SATILAN_ADET
	   from urun U 
left join MARKA M on  M.MA_ID =U.UR_MARKA
left join KATEGORI_ALT KA ON KA.AK_ID = U.UR_KATEGORI
LEFT join KATEGORI K ON K.KA_ID = KA.KA_ID 
LEFT join KATEGORI_UST KU ON KU.UK_ID=K.UK_ID
GO
/****** Object:  StoredProcedure [dbo].[FirsatUrunleri]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[FirsatUrunleri]  
AS
BEGIN 
	select * from URUN where UR_INDIRIM IS NOT NULL
END
GO
/****** Object:  StoredProcedure [dbo].[KullaniciKayit]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[KullaniciKayit]   
@MU_AD_SOYAD nvarchar(100), 
@MU_SIRKET nvarchar(100), 
@MU_KULLANICI_AD nvarchar(100), 
@MU_TELEFON nvarchar(100), 
@MU_ADRES nvarchar(100),
@MU_EMAIL nvarchar(100), 
@MU_SIFRE nvarchar(100)
AS
BEGIN 
	DECLARE @tmpr int;
	DECLARE @statu int;

	SET @statu = 0;
	  
	select @tmpr = count(*) from MUSTERI where MU_KULLANICI_ADI LIKE @MU_KULLANICI_AD
	IF(@tmpr>0)
	BEGIN
	  SET @statu=2;
	END

	IF(@tmpr = 0 and @statu <> 2)
	BEGIN
		INSERT INTO MUSTERI(MU_AD_SOYAD, MU_SIRKET,MU_KULLANICI_ADI,MU_TELEFON,MU_ADRES,MU_EMAIL,MU_SIFRE)
		VALUES (@MU_AD_SOYAD,@MU_SIRKET,@MU_KULLANICI_AD,@MU_TELEFON,@MU_ADRES,@MU_EMAIL,@MU_SIFRE);

		set @statu = 1;
	END

 select @statu as durum
END
GO
/****** Object:  StoredProcedure [dbo].[tr_kullanici_sorgulama]    Script Date: 9.01.2021 17:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[tr_kullanici_sorgulama] 
@kln nvarchar(50),
@sfr nvarchar(50)
AS
BEGIN 
	select count(*) adet from MUSTERI where MU_KULLANICI_ADI LIKE @kln and MU_SIFRE LIKE @sfr  
END
GO
